python-dotenv
openai
ipykernel
pandas
langchain_community
langchain_openai
langchain_core
langchain_chroma
langchain_text_splitters
pypdf
streamlit
bs4
firecrawl-py
selenium
webdriver-manager
google-api-python-client
youtube-transcript-api
pytube
pytubefix